name: github-pages
on:
  push:
    branches:
      - main
jobs:
  Build-And-Deploy:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Checkout Code
        uses: actions/checkout@v2.3.1

      - name: Install Craco?
        run: |
          npm install @craco/craco
      - name: Install
        run: |
          npm install

      - name: Build
        run: |
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: build
